<div class="sidebar">

    <div class="logo">
        SMS PRO
    </div>

    <ul>

        <li>
            <a href="/">
                <i class="bi bi-grid"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/campaigns/">
                <i class="bi bi-megaphone"></i>
                Campaigns
            </a>
        </li>

        <li>
            <a href="/contacts/">
                <i class="bi bi-people"></i>
                Contacts
            </a>
        </li>

        <li>
            <a href="/sms/">
                <i class="bi bi-chat-dots"></i>
                SMS Center
            </a>
        </li>

        <li>
            <a href="/sms/send/">
                <i class="bi bi-send"></i>
                Send SMS
            </a>
        </li>

        <li>
            <a href="/reports/">
                <i class="bi bi-bar-chart"></i>
                Delivery Reports
            </a>
        </li>

        <li>
            <a href="/billing/">
                <i class="bi bi-wallet2"></i>
                Billing
            </a>
        </li>

    </ul>

</div>