{% extends 'base.html' %}

{% block page_title %}
My Profile
{% endblock %}

{% block content %}

<div class="bg-white dark:bg-[#172033] rounded-xl p-6">

    <h2 class="text-xl font-bold mb-6">
        User Profile
    </h2>

    <div class="space-y-3">

        <p>
            <strong>Username:</strong>
            {{ request.user.username }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ request.user.email }}
        </p>

        <p>
            <strong>Role:</strong>
            {{ request.user.role }}
        </p>

        <p>
            <strong>Phone:</strong>
            {{ request.user.phone }}
        </p>

        <p>
            <strong>Date Joined:</strong>
            {{ request.user.date_joined }}
        </p>

    </div>

</div>

{% endblock %}