{% extends 'base.html' %}

{% block page_title %}
Users
{% endblock %}

{% block content %}

<div class="bg-white dark:bg-[#172033] rounded-xl p-6">

    <h2 class="text-xl font-bold mb-6">
        User Management
    </h2>

    <table class="w-full">

        <thead>

            <tr>
                <th class="text-left">Username</th>
                <th class="text-left">Email</th>
                <th class="text-left">Role</th>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}

            <tr>

                <td>{{ user.username }}</td>

                <td>{{ user.email }}</td>

                <td>{{ user.role }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}