body{
    margin:0;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
    display:flex;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#111827;
    color:white;
    padding:20px;
    position:fixed;
}

.logo{
    font-size:28px;
    font-weight:bold;
    margin-bottom:40px;
    color:#4f46e5;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar ul li{
    margin-bottom:10px;
}

.sidebar ul li a{
    display:block;
    padding:14px;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

.sidebar ul li a:hover{
    background:#1f2937;
}

.sidebar ul li a i{
    margin-right:10px;
}

.main{
    margin-left:260px;
    width:100%;
}

.topbar{
    background:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.content{
    padding:30px;
}

.card-box{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}
