{% extends 'base.html' %}

{% block page_title %}
Campaign Form
{% endblock %}

{% block content %}

<div class="bg-white dark:bg-[#172033] rounded-xl p-6 max-w-3xl">

    <h2 class="text-xl font-bold mb-6">
        Create / Edit Campaign
    </h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="
                bg-primary
                text-white
                px-4
                py-2
                rounded-lg
            "
        >
            Save Campaign
        </button>

    </form>

</div>

{% endblock %}